<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/components/lib/bootstrap/css/bootstrap.min.css"/>
        {% endblock %}
        {% block javascripts %}
			<script src="/components/lib/jquery/jquery-3.6.0.min.js"></script>
		{% endblock %}
	</head>
	<body>
		{{ include('shared/navbar.twig.html') }}
		<div class="container"> 
            {% block body %}{% endblock %}
		</div>
	</body>
</html>
