<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
	<div class="container">
		<a class="navbar-brand" href="/api/groups">User Management System</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target"#mobile-nav">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="mobile-nav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="api/user" class="nav-link">New User</a>
				</li>
				<li class="nav-item">
					<a href="api/group" class="nav-link">New Group</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
